.windowOpen {
  animation: windowOpenAnimation 150ms ease-out both;
}

@keyframes windowOpenAnimation {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.windowMinimize {
  animation: windowMinimizeAnimation 100ms ease-in both;
}

@keyframes windowMinimizeAnimation {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.8;
  }
}

.jiggle {
  animation: jiggleAnimation 15s infinite;
}

@keyframes jiggleAnimation {
  0%,
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(5deg) rotateY(5deg) rotateZ(5deg);
  }
  50% {
    transform: rotateX(-5deg) rotateY(-5deg) rotateZ(-5deg);
  }
  75% {
    transform: rotateX(5deg) rotateY(5deg) rotateZ(5deg);
  }
}

.title {
  display: flex;

  flex-direction: row;
  align-items: center;
  gap: 4px;
}
